$lightGreen : #b9e7e7;
$green : rgba(0, 128, 128, 0.766);

@mixin flex-center {
    display: flex;
    justify-content: center; /* Centers flex items horizontally if main axis is horizontal */
    align-items: center;  /* Center vertically */
  }

.app{
    @include flex-center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .container{
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // LOGIN & REGISTER
        .auth {
            @include flex-center;
            flex-direction: column;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: $green;
                margin-bottom: 20px;
            }

            form {
                @include flex-center;
                flex-direction: column;
                background-color: white;
                padding: 50px;
                width: 200px;
                gap: 20px;
            }

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 10px;
                border: none;
                background-color: $green;
                color: white;
                cursor: pointer;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }

        // NAVBAR
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .link {
                        @include flex-center;
                        width: 60px;
                        height: 30px;
                        background-color: $lightGreen;
                        border-radius: 50%;
                        // border: 1px solid white;

                        h6 {
                            font-size: 16px;
                            font-weight: lighter;
                            text-align: center;
                        }

                        &:hover {
                            color: $green;
                            background-color: white;
                            // border: 1px solid $green;
                        }
                    }

                    span {
                        cursor: pointer;
                    }

                    .dropdown {
                        position: relative;
                    }
                      
                    .menu {
                        position: absolute;
                        list-style-type: none;
                        margin: 5px 0;
                        padding: 0;
                        border: 1px solid grey;
                        width: max-content;
                    }
                    
                    .menu li:hover {
                        background-color: lightgray;
                    }
                    
                    .menu > li > button, 
                    .menu > li > a {
                        width: 100%;
                        height: 100%;
                        text-align: left;
                        background: none;
                        color: inherit;
                        border: none;
                        padding: 5px;
                        margin: 0;
                        font: inherit;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }


        // FOOTER
        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img {
              height: 50px;
            }
        }

        // HOME
        .home {
            margin-top: 20px;
            
            .notifications {
                align-items: center;
                flex-direction: column;
                flex: 1.4;

                .notification {
                    font-size: 14px;
                    line-height: 0.5;
                    // font-weight:lighter;
                }
            }
        }


        // CHORES
        .chores {
            form {
                display: flex;
                flex-direction: column;
                width: 500px;
                gap: 5px;
                // row-gap: 10px;

                .incharge-box label {
                    display: flex 1;
                    align-items: center;
                    margin-right: 10px; /* Adjust as needed for spacing */
                }
            }
            
            button {
                padding: 3px;
                border-left: 5px;
                border: none;
                background-color: $green;
                color: white;
                cursor: pointer;
            }
        
            .chore {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;

                button {
                    // padding: 20px 0px; 
                    color: $green;
                    background-color: white;
                }
            }
        }


        // PLANTS

        .plants {
            margin-top: 20px;
            position: relative;

            .addPlantButton button {
                position: absolute;
                right: 20px; /* Adjust this value to control the distance from the right edge */
                top: 20px; /* You can also adjust the top value to control the vertical position */
                padding: 10px;
                border: none;
                background-color: white;
                color: $green;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }

            .addPlantButton button.active {
                position: sticky;
                padding: 7px;
                background-color: white;
                color: teal;
                box-shadow: none;
            }
            
            .add-plant {
                @include flex-center;
                gap: 30px;
                background-color: $lightGreen;
                border-radius: 10px; /* Add rounded corners */

                a {
                    @include flex-center;
                    flex-direction: column;
                }

                .content {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-left: 10px;
                }

                .date {
                    @include flex-center;
                    flex-direction: column;
                    gap: 6px;
                }

                .waterInfo {
                    padding-bottom: 20px;
                }

            }
            
            .plants-list {
                margin-top: 30px;
                flex-direction: column;
                margin-top: 50px; 
                
                .plant {
                    display: flex;
                    position: relative;
                    gap: 20px;
                    align-items: flex-start; /* Align content to the top of .img */
                    margin-top: 30px; /* Adjust the margin as needed */
                    margin-bottom: 20px; /* Adjust the margin as needed */
                  
                    .img img {
                        flex: 2;
                        position: relative;
                        max-height: 150px;
                        max-width: 200px;
                        object-fit: cover;

                    }
                  
                    .content {
                        flex: 5;
                        display: flex;
                        flex-direction: column;
                        align-self: flex-start; /* Align content to the top of .img */
                        margin-top: 0; /* Adjust as needed */
                        p {
                            font-size: 18px;
                            margin-top: 0; /* Adjust as needed */
                        }
                
                    }
                
                    .icons {
                        flex: 1;
                        position: absolute;
                        bottom: 20px;
                        right: 50px;
                        display: flex;
                        gap: 10px;
                        opacity: 0.6; /* 50% opacity */
                        padding: 5px;
                    }
                
                    /* Individual icon styles */
                    .icons > svg {
                        font-size: 20px; /* Adjust the size as needed */
                        cursor: pointer;
                    }
                }
            }
        }


        // SPLIT
        .split {
            width: 80%;
        
            .expense-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;
            }
        
            .bill {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            
                .content {
                    background-color: $lightGreen;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%;
                    font-size: 16px;
                
                    button {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }

            }

            .add-btn {
                background-color: $green;
                border-radius: 50%;
            }
              
            .owesBox h1 {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            
            
            .owesBox .debts {
                display: flex;
                gap: 20px;
                .debt-box {
                    padding: 10px;
                    font-size: 1.2rem;
                    color: #333;
                    background-color: #f0f0f0;;
                }
            }
        }

        // New Bill Form
        .newBillForm {
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: 0 auto;
            padding: 20px;


            input {
                margin-bottom: 10px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
                color: $green;
                font-size: 18px;
            }

            .unequally-input {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .custom-control-input {
                    margin-left: 10px;
                }
            }
            
            .form-control {
                margin-bottom: 10px;
                // background-color: #f0f0f0;
            }

            .submit-btn {
                width: 100px;
                align-self: center;
                padding: 10px;
                border: none;
                background-color: $green;
                color: white;
                cursor: pointer;
            }
        }


        // Market
        .market {
            width: fit-content;
            margin: 0 auto;
        
            .add-item-box {
                display: flex;
                align-items: center;
                background-color: $lightGreen;
                color: $green;
                border-bottom: 1px solid #f1f1f1;
                padding: 5px;
        
                input {
                    font-size: 16px;
                    box-sizing: border-box;
                    border: none;
                    background: transparent;
                    color: $green;
                    height: 30px;
        
                    &::placeholder {
                        color: $green;
                    }
        
                    &:focus {
                        outline: 0;
                    }
                }
        
                svg {
                    margin: 5px;
                }
            }
        
            .item {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #f1f1f1;
                font-size: 16px;
                padding: 10px;
                font-size: 15px;
                gap: 20px;
        
                & .completed {
                    text-decoration: line-through;
                }
        
                & .quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid $lightGreen;
                    border-radius: 50px;
                    font-size: 12px;
                    color: $green;
                    min-width: 50px;
                }
        
                & button {
                    background: transparent;
                    border: none;
                    margin: 3px;
                    color: $green;
                    font-size: 12px;
        
                    &:focus {
                        outline: 0;
                    }
        
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}