$lightGreen : #b9e7e7;
$green : rgba(0, 128, 128, 0.766);

@mixin flex-center {
    display: flex;
    justify-content: center; /* Centers flex items horizontally if main axis is horizontal */
    align-items: center;  /* Center vertically */
  }

.app{
    @include flex-center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .container{
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // LOGIN & REGISTER
        .auth {
            @include flex-center;
            flex-direction: column;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form {
                @include flex-center;
                flex-direction: column;
                background-color: white;
                padding: 50px;
                width: 200px;
                gap: 20px;
            }

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                cursor: pointer;
            }

            p {
                font-size: 12px;
                color: rgb(215, 72, 72);
                text-align: center;
            }

            span {
                font-size: 12px;
                text-align: center;
            }
        }

        // NAVBAR
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .link {
                        @include flex-center;
                        width: 60px;
                        height: 30px;
                        background-color: $lightGreen;
                        border-radius: 50%;
                        // border: 1px solid white;

                        h6 {
                            font-size: 16px;
                            font-weight: lighter;
                            text-align: center;
                        }

                        &:hover {
                            color: teal;
                            background-color: white;
                            // border: 1px solid teal;
                        }
                    }

                    span {
                        cursor: pointer;
                    }
                }
            }
        }


        // FOOTER
        footer {
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img {
              height: 50px;
            }
        }

        // HOME
        .home {
            margin-top: 20px;
            
            .notifications {
                align-items: center;
                flex-direction: column;
                flex: 1.4;

                .notification {
                    font-size: 14px;
                    line-height: 0.5;
                    // font-weight:lighter;
                }
            }
        }


        // CHORES
        .chores {
            form {
                display: flex;
                flex-direction: column;
                width: 500px;
                gap: 5px;
                // row-gap: 10px;

                .incharge-box label {
                    display: flex 1;
                    align-items: center;
                    margin-right: 10px; /* Adjust as needed for spacing */
                }
            }
            
            button {
                padding: 3px;
                border-left: 5px;
                border: none;
                background-color: $green;
                color: white;
                cursor: pointer;
            }
        
            .chore {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;

                button {
                    // padding: 20px 0px; 
                    color: teal;
                    background-color: white;
                }
            }
        }


        // PLANTS

        .plants {
            margin-top: 20px;
            
            .add-plant {
                @include flex-center;
                gap: 20px;
                background-color: $lightGreen;

                a {
                    @include flex-center;
                    flex-direction: column;
                }

                .content {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .date {
                    @include flex-center;
                    flex-direction: column;
                    gap: 6px;
                }

            }
            
            .plants-list {
                margin-top: 30px;
                flex-direction: column;
                margin-top: 50px; /* Adjust the margin as needed */
                // background-color: aqua;
                
                .plant {
                    display: flex;
                    gap: 20px;
                    align-items: flex-start; /* Align content to the top of .img */
                    margin-top: 20px; /* Adjust the margin as needed */
                    margin-bottom: 20px; /* Adjust the margin as needed */
                    
                    // &:nth-child(2n + 1) {
                    //     flex-direction: row-reverse;
                    // }
                  
                    .img {
                        flex: 2;
                        position: relative;

                        img {
                            max-height: 200px;
                            max-width: 200px;
                            object-fit: cover;
                        }
                    }
                  
                    .content {
                        flex: 9;
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-between;
                        align-self: flex-start; /* Align content to the top of .img */
                    
                        p {
                            font-size: 18px;
                        }
                
                    }
                }
            }
        }


        // Market
        .market {
            width: fit-content;
        
            .add-item-box {
                display: flex;
                align-items: center;
                background-color: $lightGreen;
                color: $green;
                border-bottom: 1px solid #f1f1f1;
                padding: 5px;
        
                input {
                    font-size: 16px;
                    box-sizing: border-box;
                    border: none;
                    background: transparent;
                    color: $green;
                    height: 30px;
        
                    &::placeholder {
                        color: $green;
                    }
        
                    &:focus {
                        outline: 0;
                    }
                }
        
                svg {
                    margin: 5px;
                }
            }
        
            .item {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #f1f1f1;
                font-size: 16px;
                padding: 10px;
                font-size: 15px;
                gap: 20px;
        
                & .completed {
                    text-decoration: line-through;
                }
        
                & .quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid $lightGreen;
                    border-radius: 50px;
                    font-size: 12px;
                    color: $green;
                    min-width: 50px;
                }
        
                & button {
                    background: transparent;
                    border: none;
                    margin: 3px;
                    color: $green;
                    font-size: 12px;
        
                    &:focus {
                        outline: 0;
                    }
        
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}